@font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon.ttf") format("truetype"),
url("../fonts/flaticon.woff") format("woff"),
url("../fonts/flaticon.woff2") format("woff2"),
url("../fonts/flaticon.eot") format("embedded-opentype"),
url("../fonts/flaticon.svg") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" pbmit-mvzinfratech-icon-"]:before {
    font-family: "Flaticon";
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pbmit-mvzinfratech-icon-upgrade:before {
    content: "\f101";
}
.pbmit-mvzinfratech-icon-hammer:before {
    content: "\f102";
}
.pbmit-mvzinfratech-icon-calculator:before {
    content: "\f103";
}
.pbmit-mvzinfratech-icon-setting:before {
    content: "\f104";
}
.pbmit-mvzinfratech-icon-pickaxe:before {
    content: "\f105";
}
.pbmit-mvzinfratech-icon-wall:before {
    content: "\f106";
}
.pbmit-mvzinfratech-icon-camera-drone:before {
    content: "\f107";
}
.pbmit-mvzinfratech-icon-road:before {
    content: "\f108";
}
.pbmit-mvzinfratech-icon-warning-sign:before {
    content: "\f109";
}
.pbmit-mvzinfratech-icon-ruler:before {
    content: "\f10a";
}
.pbmit-mvzinfratech-icon-monitor-screen:before {
    content: "\f10b";
}
.pbmit-mvzinfratech-icon-building:before {
    content: "\f10c";
}
.pbmit-mvzinfratech-icon-wrench:before {
    content: "\f10d";
}
.pbmit-mvzinfratech-icon-pencil:before {
    content: "\f10e";
}
.pbmit-mvzinfratech-icon-clipboard:before {
    content: "\f10f";
}
.pbmit-mvzinfratech-icon-plug:before {
    content: "\f110";
}
.pbmit-mvzinfratech-icon-house:before {
    content: "\f111";
}
.pbmit-mvzinfratech-icon-wagon:before {
    content: "\f112";
}
.pbmit-mvzinfratech-icon-ladder:before {
    content: "\f113";
}
.pbmit-mvzinfratech-icon-torch:before {
    content: "\f114";
}
.pbmit-mvzinfratech-icon-screw:before {
    content: "\f115";
}
.pbmit-mvzinfratech-icon-conveyor-belt:before {
    content: "\f116";
}
.pbmit-mvzinfratech-icon-screw-driver:before {
    content: "\f117";
}
.pbmit-mvzinfratech-icon-drilling-machine:before {
    content: "\f118";
}
.pbmit-mvzinfratech-icon-web-browser:before {
    content: "\f119";
}
.pbmit-mvzinfratech-icon-saw:before {
    content: "\f11a";
}
.pbmit-mvzinfratech-icon-setting-1:before {
    content: "\f11b";
}
.pbmit-mvzinfratech-icon-road-barrier:before {
    content: "\f11c";
}
.pbmit-mvzinfratech-icon-axe:before {
    content: "\f11d";
}
.pbmit-mvzinfratech-icon-divider:before {
    content: "\f11e";
}
.pbmit-mvzinfratech-icon-spirit-level:before {
    content: "\f11f";
}
.pbmit-mvzinfratech-icon-road-map:before {
    content: "\f120";
}
.pbmit-mvzinfratech-icon-mail:before {
    content: "\f121";
}
.pbmit-mvzinfratech-icon-wall-clock:before {
    content: "\f122";
}
.pbmit-mvzinfratech-icon-measuring-tape:before {
    content: "\f123";
}
.pbmit-mvzinfratech-icon-ruler-1:before {
    content: "\f124";
}
.pbmit-mvzinfratech-icon-screw-1:before {
    content: "\f125";
}
.pbmit-mvzinfratech-icon-battery:before {
    content: "\f126";
}
.pbmit-mvzinfratech-icon-helmet:before {
    content: "\f127";
}
.pbmit-mvzinfratech-icon-ruler-2:before {
    content: "\f128";
}
.pbmit-mvzinfratech-icon-jackhammer:before {
    content: "\f129";
}
.pbmit-mvzinfratech-icon-cross-wrench:before {
    content: "\f12a";
}
.pbmit-mvzinfratech-icon-factory:before {
    content: "\f12b";
}
.pbmit-mvzinfratech-icon-pie-chart:before {
    content: "\f12c";
}
.pbmit-mvzinfratech-icon-cutter:before {
    content: "\f12d";
}
.pbmit-mvzinfratech-icon-container:before {
    content: "\f12e";
}
.pbmit-mvzinfratech-icon-customer-support:before {
    content: "\f12f";
}
.pbmit-mvzinfratech-icon-construction-worker:before {
    content: "\f130";
}
.pbmit-mvzinfratech-icon-blueprint:before {
    content: "\f131";
}
.pbmit-mvzinfratech-icon-sketch:before {
    content: "\f132";
}
.pbmit-mvzinfratech-icon-excavator:before {
    content: "\f133";
}
.pbmit-mvzinfratech-icon-helmet-1:before {
    content: "\f134";
}
.pbmit-mvzinfratech-icon-email:before {
    content: "\f135";
}
.pbmit-mvzinfratech-icon-envelope:before {
    content: "\f136";
}
.pbmit-mvzinfratech-icon-call:before {
    content: "\f137";
}
.pbmit-mvzinfratech-icon-phone-call:before {
    content: "\f138";
}
.pbmit-mvzinfratech-icon-pin:before {
    content: "\f139";
}
.pbmit-mvzinfratech-icon-pin-1:before {
    content: "\f13a";
}
.pbmit-mvzinfratech-icon-check-mark:before {
    content: "\f13b";
}
.pbmit-mvzinfratech-icon-check-box:before {
    content: "\f13c";
}
.pbmit-mvzinfratech-icon-check:before {
    content: "\f13d";
}
.pbmit-mvzinfratech-icon-dot:before {
    content: "\f13e";
}
.pbmit-mvzinfratech-icon-period:before {
    content: "\f13f";
}
.pbmit-mvzinfratech-icon-plus:before {
    content: "\f140";
}
.pbmit-mvzinfratech-icon-minimize-sign:before {
    content: "\f141";
}
