/* body {
    margin: 0;
    overflow: hidden;
} */

#logo-container {
    position: fixed;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

#company-logo {
    width: 400px; /* Set the size of your logo as needed */
    border-radius:400px;
    height: auto;
}

#content-container {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

@keyframes zoomInOut {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}
